@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 0, 0, 0;
		--background-rgb: 255, 255, 255;
	}
}

body {
	height: 100vh;
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
